<%= stylesheet_link_tag "playlist" %>
 
<body onload="javascript:startup()">

<script type="text/javascript">

	gRequestPlaylistUpdate = null;
	gRequestTrackUpdate = null;
	gCurrentTrack = 0;

	//-------------------------------------------
	// Page Load Function
	//-------------------------------------------
	function startup()
	{
		set_current_track( gCurrentTrack );
	} // startup()
	
	//-------------------------------------------
	// Is HTML Response Valid
	//-------------------------------------------
	function is_response_valid( response )
	{
		ret = false;
		
		if( response != null
		    && response.status == 200
			&& response.readyState == 4 )
		{
			ret = true;
		}
		
		return ret;
	} // is_response_valid()
	
	
	//-------------------------------------------
	// Update Playlist Container
	//-------------------------------------------
	function update_playlist_container()
	{
		if( is_response_valid( gRequestPlaylistUpdate ) )
		{	
			document.getElementById( 'playlist_container_id' ).innerHTML = gRequestPlaylistUpdate.responseText;
			gRequestPlaylistUpdate = null;
		}
	} // update_playlist_container()


	//-------------------------------------------
	// Update Player Container
	//-------------------------------------------
	function update_player_container()
	{
		if( is_response_valid( gRequestTrackUpdate ) )
		{
			document.getElementById( 'playlist_player_id' ).innerHTML = gRequestTrackUpdate.responseText;
			gRequestTrackUpdate = null;
		}
	} // update_playlist_container()
	
	
	//-------------------------------------------
	// Set Current Track
	//-------------------------------------------
	function set_current_track( track )
	{
		// Send request for playlist generation
		gRequestPlaylistUpdate = new XMLHttpRequest();
		
		if( gRequestPlaylistUpdate != null )
		{
			requestUrl = "songs/generate_playlist/" + track;
			gRequestPlaylistUpdate.onreadystatechange = update_playlist_container;
			gRequestPlaylistUpdate.open( "GET", requestUrl, true );
			gRequestPlaylistUpdate.send();
		}
		else
		{
			alert( "Error creating request!" );
		}
		
		// Send request for new track data
		if( gCurrentTrack != track )
		{
			gCurrentTrack = track;
			
			gRequestTrackUpdate = new XMLHttpRequest();
			if( gRequestTrackUpdate != null )
			{
				requestUrl = "songs/generate_player/" + track;
				gRequestTrackUpdate.onreadystatechange = update_player_container;
				gRequestTrackUpdate.open( "GET", requestUrl, true );
				gRequestTrackUpdate.send();
			}
			else
			{
				alert( "Error creating player request!" );
			}
		}
	} // set_current_track()
	
	
	//-------------------------------------------
	// Refresh the Playlist
	//-------------------------------------------
	function refresh_playlist()
	{
		set_current_track( gCurrentTrack );
	} // refresh_playlist()
	
	
</script>


<div style="position:absolute; top:0px; left:0px; width:800px; height:600px; overflow:hidden; background-image:url('/images/background.png');">

<div class="playlist_box">
	<div class="playlist_title_container">
		<strong>Playlist Title</strong>
	</div>
	
	<div id="playlist_container_id" class="playlist_container" src='http://www.google.com'>

	</div>
	
	<div id="playlist_player_id" class="playlist_bottom_container" >

	</div>
</div>

<div class="upload_box">
<iframe src ="songs/upload_form/" width="250px" height="129px" frameborder="0px">
  <p>Your browser does not support iframes.</p>
</iframe>
</div>


</div>
